* {
    margin:0;
}
header {
    background-image: url("/img/title.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    padding-right: 30%;
    height: 450px;
}
header h1 {
    font-size: 4rem;
    color: #8e724a;
}
body {
    max-width: 1300px;
    margin:0 auto;
    font-size: 1.5em;
    line-height:1.5em;
    background-image: url("/img/background.jpg");
    height: 100%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content:center;
}    
nav ul li a {
    text-decoration: none;
    display: block;
}
nav ul li {
    margin-right: 150px;
}
article img {
    float: right;
}
article h2 {
    margin-top: 7px;
    text-align: center;
}
article ul li {
    text-align: center;
    margin-top: 22px;
}
p {
    text-align: center;
}
p img {
    margin: 25px;
    width: 400px;
    height: 300px;
    display: inline-block;
}
#photo {
    text-align: center;
}
.connect {
    text-align: center;
}
footer p {
    height: 200px;
    width: 100%;
    background: lightgrey;
}